#titlemain {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    margin-bottom: 20px;
}


.row {
    border:solid;
}

.channel-items {
    color:red;

}

#channelbar {
    border: solid;
    border-color:green;
}

#messagearea {
    border: dotted;
    border-color:red;
}

