#titlemain {
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    font-size: 500%;
    color:white;
}

.greeting {
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    font-size: 250%;
}

.selected_channel {
    font-size: 250%;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}
.row {
    margin: 5px;
    border: solid;
    border-width:thin;
    border-radius: 3px;
}

body, .container-fluid {
  background-color: #606169
}

#choosename {
    margin-bottom: 20px;
}

#channelbar {
    background-color:#3B3E4D;
    color:white;
}

#channelbar li {
    background-color:#808090;
    padding: 8px;
}

#channelbar div.row {
    margin-bottom: 30px;
}

#addchannel {
    margin-bottom: 10px;
}

.alert-danger {
    margin-top: 5px;
    padding: 8px;
}

.close {
    padding-top: 5px !important;
    padding-right: 10px !important;
}

.messagechat {
    margin-bottom: 10px;
    padding: 15px;
    border: solid;
    border-width: thin;
    border-radius: 8px;
}

.list-messages {
    list-style: none;
    padding-left:10px;
}

.message-display {
    background-color: white;
}

.msg_username {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    font-style: italic;
    padding-right: 5px;
}

.msg_timestamp {
    padding-right: 5px;
    font-size: 10px;
    font-style: italic;
    color: gray;
}

.msg_user_content {
    margin-bottom: 5px;
}